<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Control remoto Universal</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<!--
  <app-root></app-root> -->
  <header>
    <nav>
      <a href="http://localhost:4200/portada">Inicio</a>
      <a href="http://localhost:4200/login">Login</a>
      <a href="http://localhost:4200/register">Register</a>
      <a href="http://localhost:4200/index2/#ancla">Nosotros</a>
      <a href="#">Favoritos</a>
    </nav>
   <section class="textos-header"> 
     <h1> El mejor control Universal para tu TV deja de batallar</h1>
     <h2> Tan solo con una App en tu dispositivo movil </h2>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
  </header>
<main>  
  <section class="contenedor sobre-nosotros">
    <h2 class="titulo">Nuestro Producto</h2>
    <div class="Contenedor-sobre-nosotros">
      <img src="assets/images/control.png" alt="" class="imagen-nosotros">
      <div class="contenido-textos">
        <h3><span> 1 </span> El mejor producto</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus saepe, laboriosam, deleniti nam corporis iste optio nesciunt alias sit consectetur aperiam. Error cum qui labore beatae ipsam laudantium animi totam!</p>
        <h3><span> 2 </span> El mejor producto</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus saepe, laboriosam, deleniti nam corporis iste optio nesciunt alias sit consectetur aperiam. Error cum qui labore beatae ipsam laudantium animi totam!</p>   
        </div>
    </div>
  </section>
  <section>
    <div class="portafolio">
      <div class="contenedor">
        <h2 class="titulo">Portafolio</h2>
        <div class="galeria-port">
          <div class="imagen-port">
            <img src="assets/images/tv1.jpeg" alt="">
            <div class="hover-galery">
              <img src="assets/images/target.png" alt="">
              <p>Nuestro trabajo</p>
            </div>
          </div>
          <div class="imagen-port">
            <img src="assets/images/tv2.jpeg" alt="">
            <div class="hover-galery">
              <img src="assets/images/target.png" alt="">
              <p>Nuestro trabajo</p>
            </div>
          </div>
          <div class="imagen-port">
            <img src="assets/images/tv3.jpeg" alt="">
            <div class="hover-galery">
              <img src="assets/images/target.png" alt="">
              <p>Nuestro trabajo</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="clientes contenedor">
    <h2 class="titulo">Que dicen nuestros clientes</h2>
    <div class="cards">
      <div class="card">
        <img src="assets/images/cliente1.jpeg" alt="">
        <div class="contenido-texto-card">
          <h4>Name</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, amet.</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/cliente2.jpeg" alt="">
        <div class="contenido-texto-card">
          <h4>Name</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, amet.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="about-service">
    <div class="contenedor">
      <h2 class="titulo">Nuestros servicios</h2>
      <div class="servicio-cont">
        <div class="servicio-ind">
          <img src="assets/images/favoritos1.jpeg" alt="">
          <h3>Name</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, explicabo!</p>
        </div>
        <div class="servicio-ind">
          <img src="assets/images/favoritos2.jpeg" alt="">
          <h3>Name</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, explicabo!</p>
        </div>
        <div class="servicio-ind">
          <img src="assets/images/favoritos3.jpeg" alt="">
          <h3>Name</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, explicabo!</p>
        </div>
      </div>
    </div>
  </section>
</main>
  <footer id=ancla>
    <div class="contenedor-footer">
      <div class="content-foo">
        <h4>Telefono</h4>
        <p>614-101-02-03</p>
      </div>
      <div class="content-foo">
        <h4>Email</h4>
        <p>daedca@gmail.com</p>
      </div>
      <div class="content-foo">
        <h4>Ubicacion</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, adipisci.</p>
      </div>
    </div>
    <h2 class="titulo-final">&copy; ||  DAEDCA  || </h2>
  </footer>

 <!-- <app-root></app-root> -->
</body>
</html>
